{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-flow",
        ["@babel/preset-env",
          {
            "targets": "> 0.25%, not dead"
          }
        ]
    ],
    "plugins": [
      // "babel-plugin-emotion", // yarn add emotion react-emotion && yarn add babel-plugin-emotion --dev 
      // ["babel-plugin-styled-components", { "displayName": true }] // yarn add styled-components && yarn add babel-plugin-emotion --dev 
    ],
    "env": {
        "production": {
            "plugins": [
                "lodash"
            ]
        },
        "development": {
            "presets": [
                [
                    "@babel/preset-react",
                    { "development": true }
                ]
            ],
            "plugins": [
                "react-hot-loader/babel"
            ]
        },
        "test": {
            "presets": [
                [
                    "@babel/env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ],
            "compact": false
        }
    }
}
