{
  "plugins": ["babel-plugin-styled-components"],
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions"]
      },
      "include": [],
      "exclude": []
    }]
  ]
}
